<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="4">
    <parameter name="env" value="prod"/>
    <test name="TestNG MTP Firefox Desktop Spanish tests " enabled="true">
        <parameter name="browser" value="firefox"/>
        <parameter name="mobile" value="false"/>
        <parameter name="lang" value="es"/>
        <groups>
            <run>
                <include name="desktop"/>
            </run>
        </groups>
        <classes>
            <class name="testng.MtpKotlinTest"/>
        </classes>
    </test>
    <test name="TestNG MTP Firefox Desktop English tests " enabled="true">
        <parameter name="browser" value="firefox"/>
        <parameter name="mobile" value="false"/>
        <parameter name="lang" value="en"/>
        <groups>
            <run>
                <include name="desktop"/>
            </run>
        </groups>
        <classes>
            <class name="testng.MtpKotlinTest"/>
        </classes>
    </test>
    <test name="TestNG MTP Chrome Desktop Spanish tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="mobile" value="false"/>
        <parameter name="lang" value="es"/>
        <groups>
            <run>
                <include name="desktop"/>
            </run>
        </groups>
        <classes>
            <class name="testng.MtpKotlinTest"/>
        </classes>
    </test>
    <test name="TestNG MTP Chrome Desktop English tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="mobile" value="false"/>
        <parameter name="lang" value="en"/>
        <groups>
            <run>
                <include name="desktop"/>
            </run>
        </groups>
        <classes>
            <class name="testng.MtpKotlinTest"/>
        </classes>
    </test>
    <test name="TestNG MTP Mobile Spanish tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="mobile" value="true"/>
        <parameter name="lang" value="es"/>
        <groups>
            <run>
                <include name="mobile"/>
            </run>
        </groups>
        <classes>
            <class name="testng.MtpKotlinTest"/>
        </classes>
    </test>
    <test name="TestNG MTP Mobile English tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="mobile" value="true"/>
        <parameter name="lang" value="en"/>
        <groups>
            <run>
                <include name="mobile"/>
            </run>
        </groups>
        <classes>
            <class name="testng.MtpKotlinTest"/>
        </classes>
    </test>
</suite>
