<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="4">
    <test name="TestNG MTP Firefox Desktop tests" enabled="true">
        <parameter name="browser" value="firefox"/>
        <parameter name="mobile" value="false"/>
        <groups>
            <run>
                <include name="desktop"/>
            </run>
        </groups>
        <classes>
            <class name="testng.tests.MtpKotlinTest"/>
        </classes>
    </test>
    <test name="TestNG MTP Chrome Desktop tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="mobile" value="false"/>
        <groups>
            <run>
                <include name="desktop"/>
            </run>
        </groups>
        <classes>
            <class name="testng.tests.MtpKotlinTest"/>
        </classes>
    </test>
    <test name="TestNG MTP Mobile tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="mobile" value="true"/>
        <groups>
            <run>
                <include name="mobile"/>
            </run>
        </groups>
        <classes>
            <class name="testng.tests.MtpKotlinTest"/>
        </classes>
    </test>
</suite>
